---
import Layout from '../layouts/Layout.astro';
import Logo from "../components/Logo.astro";
import LinkListItem from "../components/LinkListItem.astro";
import BelluDevelopmentIcon from '../components/BelluDevelopmentIcon.astro';
import SneakerbaseIcon from '../components/SneakerbaseIcon.astro';
import ProductizeIcon from '../components/ProductizeIcon.astro';
---

<Layout title="Andrew Bellucci's Links">
	<header class="bg-white dark:bg-blue border-b dark:border-b-white/10 border-b-black/10">
		<div class="max-w-[400px] mx-auto p-[30px]">
			<Logo />
			<h1 class="text-2xl font-bold text-blue-dark/80 dark:text-white/80 mt-[30px]">
				Heyo, my name is<br />
				<span class="font-extrabold text-[40px] leading-[48px] text-blue-dark dark:text-white">Andrew Bellucci</span>
			</h1>
		</div>
	</header>
	<main class="max-w-[400px] mx-auto p-[30px]">
		<h2 class="font-extrabold">Businesses</h2>
		<ul>
			<LinkListItem
				href="https://www.belludevelopment.com/"
				Icon={BelluDevelopmentIcon}
				title="Bellu Development"
				subTitle="Design & Development Agency"
			/>
			<LinkListItem
				href="https://www.sneakerbase.io/"
				Icon={SneakerbaseIcon}
				title="Sneakerbase"
				subTitle="Find the best priced Sneakers"
			/>
			<LinkListItem
				href="https://www.tryproductize.com/"
				Icon={ProductizeIcon}
				title="Productize"
				subTitle="Design & Dev as a Service"
			/>
		</ul>
	</main>
</Layout>
