---
export interface Props {
  Icon: any;
  href: string;
  label: string;
}

const { Icon, href, label } = Astro.props;
---

<li class="inline-flex">
  <a href={href} target="_blank" rel="noopener" aria-label={label}>
    <Icon />
  </a>
</li>
