---
export interface Props {
  title: string;
  subTitle: string;
  Icon: any;
  href: string;
}

const { title, subTitle, Icon, href } = Astro.props;
---

<li class="mb-[15px] last:mb-0">
  <a href={href} class="flex gap-[18px] bg-white border dark:border-0 border-black/10 dark:bg-blue rounded-[12px] overflow-hidden" target="_blank" rel="noreferrer noopener">
    <span class="w-[70px] h-[70px] flex items-center justify-center dark:bg-blue-light border-r dark:border-r-0">
      <Icon />
    </span>
    <span class="flex-1 flex flex-col text-sm justify-center">
      <span class="font-bold">{title}</span>
      <span class="text-blue-dark/80 dark:text-white/80">{subTitle}</span>
    </span>
  </a>
</li>
