---
import '@fontsource/inter/400.css';
import '@fontsource/inter/600.css';
import '@fontsource/inter/700.css';
import '@fontsource/inter/800.css';
import '../main.css';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={"Andrew Bellucci is a software engineer and entrepreneur. He specializes in frontend web development, but can do anything from UI design and mobile app development to backend development."} />
	</head>
	<body class="bg-white-off dark:bg-blue-dark dark:text-white font-inter transition-all duration-300">
		<!--<div class="fixed w-full top-0 bottom-0 overflow-x-auto">-->
			<slot />
		<!--</div>-->
	</body>
</html>
